.container {
    height: 100vh;
    width: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#statistics {
    height: 100vh;
    width: calc(100vw - 150vh);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: white;
}

.row {
    --size: calc(100vh/4);
    height: var(--size);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.cell {
    --size: calc(100vh / 4.5);
    height: var(--size);
    width: var(--size);
    border-radius: 10px;
    color: white;
    display: grid;
    place-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

img {
    height: 95%;
    width: 95%;
}

#agente {
    background-size: cover;
    background-position: center;
}

#wumpus {
    background-size: cover;
    background-position: center;
}

#poco {
    background-size: cover;
    background-position: center;
}

#gold {
    background-size: cover;
    background-position: center;
}

.commun-cell {
    border: 2px solid #fff;
}

.smelly-cell {
    border: 2px solid green;
}

.breeze-cell {
    border: 2px solid lightseagreen;
}

.shinny-cell {
    border: 2px solid gold;
}

.button {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    display: grid;
    place-items: center;
    border: none;
    font-weight: bold;
}

button:hover {
    opacity: 0.7;
}

#status {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#buttons {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.lateral {
    font-size: x-large;
    font-weight: bold;
    height: 15%;
    width: 100%;
    border-radius: 10px;
    display: grid;
    place-items: center;
}

.invetory {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.flecha {
    height: 40px;
    width: 40px;
}

/* #pts {
    height: 10%;
} */