body {
    width: auto;
    position: relative;
}

aside {
    height: 95vh;
    width: 30vw;
    background-color: #C6C6C6;
    border-width: 1.2vh;
    border-style: solid;
    border-color: #FFFFFF #FFFFFF #555555 #555555;
    /** border-color: #666666 #666666 #222222 #222222; cor Preta */
    position: fixed;
    z-index: 2;
    right: 0;
    color: #3C3C3C;
}

#world {
    margin-right: 30vw;
    position: absolute;
    z-index: 1;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* background-color: black; */
}
