body {
    width: auto;
    position: relative;
}

aside {
    height: 500px;
    width: 400px;
    background-color: black;
    background-image: url(../assets/inventario.png);
    opacity: .7;
    position: fixed;
    z-index: 2;
    right: 0;
}

#world {
    position: absolute;
    z-index: 1;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* background-color: black; */
}
