/* body  */
main {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 900px;
}

figure {
    height: 50%;
    width: 100%;
}

.button-container {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

button {
    font-weight: 200;
    border: 4px;
    width: 200px;
    height: 50px;
}