.container {
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    width: 50%;
    height: 20%;
    border-radius: 15px;
    color: white;
    display: grid;
    place-items: center;
    font-size: xx-large;
}
