@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/minecraft_font.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    width: 100vw;
    font-family: 'Minecraft', sans-serif;
}

.back-grad {
    background-image: radial-gradient(circle at 90.56% 107.92%, #a02a89 0, #86247e 16.67%, #6a1c71 33.33%, #4e1460 50%, #330c4e 66.67%, #1c043e 83.33%, #0c0030 100%);
}

.background-img {
    background-image: url('../assets/dirt.png');
}

.back-b {
    background-color: #000000;
    opacity: 0.7;
}

.op-1 {
    opacity: 1;
}

.img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.logo {
    background-image: url('../assets/logo.png');
}

.interface {
    background-color: #C6C6C6;
    border-style: solid;
    border-color: #FFFFFF #FFFFFF #555555 #555555;
    color: #3C3C3C;
}

button.interface:hover {
    border-color: lightgreen lightgreen green   green;
    color: green;
}
button.interface:active {
    background-color: #89898B;
    border-color: #4D4D4D #F8F8F8 #F8F8F8 #4D4D4D;
}