@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #1a1a1a;
    color: #90ee90;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 40px;
    height: 280px;
}

.box {
    background: #222;
    border: 4px solid #3a3a3a;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.btn-01 {
    background-color: #333;
    color: #90ee90;
    border: 2px solid #90ee90;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    margin: 5px;
}

.btn-01:hover {
    background: #4f644f;
}