@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --verde_neon: #90EE90;
    --background-pri: #000;
    --background-sec: #111;
}

body {
    background-color: var(--background-pri);
    color: var(--verde_neon);
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 40px;
    height: 280px;
}

.box {
    background: var(--background-sec);
    border: 4px solid var(--verde_neon);
    box-shadow: 0 0 15px var(--verde_neon);
}

.btn-01 {
    background-color: var(--background-sec);
    color: var(--verde_neon);
    border: 2px solid var(--verde_neon);
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    margin: 5px;
}

.btn-01:hover {
    background: var(--verde_neon);
    color: var(--background-sec);
}