{% for i in range(size) %}
    <div class="row">
        {% for j in range(size) %}
            <div id="cell-{{ i }}-{{ j }}"
            {% if 'b' in map[i][j] %}
                class="cell shinny-cell back-b"
            {% elif 'f' in map[i][j] %}
                class="cell smelly-cell back-b"
            {% elif 'v' in map[i][j] %}
                class="cell breeze-cell back-b"
            {% else %}
                class="cell commun-cell back-b"
            {% endif %}
            >

                {% if board[i][j] == 'A' %}
                    <img id="agente" src="{{url_for('static', filename='assets/agente.png')}}" alt="Guerreiro">
                {% elif board[i][j] == 'W' %}
                    <img id="wumpus" src="{{url_for('static', filename='assets/wumpus.png')}}" alt="Wumpus">
                {% elif board[i][j] == 'P' %}
                    <img id="poco" src="{{url_for('static', filename='assets/poço.png')}}" alt="Poço">
                {% elif board[i][j] == 'G' %}
                    <img id="gold" src="{{url_for('static', filename='assets/ouro.png')}}" alt="Ouro">
                {% else %}
                    {{ board[i][j] }}
                {% endif %}

            </div>
        {% endfor %}
    </div>
{% endfor %}