<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mundo de Wumpus</title>
  <link rel="icon" href="{{ url_for('static', filename='assets/creeper.png') }}" type="image/png">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
  <main id="start-screen" class="container">
    <h1>Mundo de Wumpos</h1>
    <figure class="gallery">
      <img src="{{ url_for('static', filename='imgs/skins/skin-1.png') }}" alt="Imagem 1">
      <img src="{{ url_for('static', filename='imgs/skins/skin-2.png') }}" alt="Imagem 2">
      <img src="{{ url_for('static', filename='imgs/skins/skin-3.png') }}" alt="Imagem 3">
      <img src="{{ url_for('static', filename='imgs/skins/skin-4.png') }}" alt="Imagem 4">
    </figure>
    <div class="menu-buttons">
      <!--  onclick="change_page({{ url_for('selection.selection') }})" -->
      <button>🎮 Iniciar</button>
      <button>📊 Estatísticas</button>
    </div>
  </main>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>