<div class="contador back-b lateral">
    <div class="icon">
        <img src="{{url_for('static', filename='assets/flecha.png')}}" alt="">
    </div>
    <div class="text">: {{ flecha }} </div>
    <div class="icon">
        <img src="{{url_for('static', filename='assets/ouro.png')}}" alt="">
    </div>
    <div class="text">: {{ bag }} </div>
    <div class="icon">
        <img src="{{url_for('static', filename='assets/passos.png')}}" alt="">
    </div>
    <div class="text">: {{ passos }} </div>
</div>
<div class="pts back-b lateral"> Pontuação: {{ pts }} </div>
<div id="prompt" class="back-b lateral">
    {% if status == 'v' %}
        <h5>!!!!! Você Venceu !!!!!</h5>
    {% elif status == 'w' %}
        <h5>!!!!! Você foi devorado pelo Wumpus !!!!!</h5>
    {% elif status == 'p' %}
        <h5>!!!!! Você caiu no Poço !!!!!</h5>
    {% else %}
        {% if 'v' in percepcao %}
            <h6>Você sentiu uma leve brisa.</h6>
        {% endif %}
        {% if 'f' in percepcao %}
            <h6>Você sentiu um estranho fedor.</h6>
        {% endif %}
        {% if 'b' in percepcao %}
            <h6>Você viu um brilho estranho.</h6>
        {% endif %}
        {% if '' == percepcao %}
            <h5>Tudo parece normal.</h5>
        {% endif %}
    {% endif %}
</div>